<h3>Education</h3>
{{- range $index, $educations := .Site.Params.education -}}
<ul>
  {{ range $elem_index, $education := $educations.career }}
  <div class="row biography">
        <div class="col-sm-5">
        {{$education.start}} - {{$education.end}}
        </div>
        <div class="col-sm-7">
        <b>{{$education.degree}}</b>, {{ $education.name }}
        <br>
        {{ if ne $education.note "" }}
          {{$education.note}}
        {{- end -}}
        </div>
  </div>
  {{ end }}
</ul>
{{- end -}}