<div class="introduction">
	<h3>Softwares</h3>
	<!-- International Conference and Workshop -->
	{{- range $index, $software := .Site.Params.softwares -}}
	<ul>
		{{ range $elem_index, $soft_data := $software.software }}
		<li>
		{{ if $soft_data.link }}
		<a href="{{ $soft_data.link }}" class="publications"> {{ $soft_data.name }}, </a>
		{{ else }}
		<p class="publications">{{ $soft_data.name }},</p>
		{{ end }}
		{{ $soft_data.dest | markdownify }}
		{{ $soft_data.description }}
	
		{{ if or ($soft_data.code_link) $soft_data.blog_link }}
		<span class="code_blog">
			{{ with $soft_data.code_link }}
			[<a href="{{ $soft_data.code_link }}">code</a>]
			{{ end }}
	
			{{ with $soft_data.blog_link }}
			[<a href="{{ $soft_data.blog_link }}">slide</a>]
			{{ end }}
		</span>
		{{ end }}
		</li>
		{{ end }}
	</ul>
	{{- end -}}
</div>

<div class="introduction">
	<h3>Publication</h3>
	<!-- International Conference and Workshop -->
	<h4>International Journal</h4>
	{{- range $index, $publications := .Site.Params.journal -}}
	<div class="year">{{ $publications.year }}</div>
	<ul>
		{{ range $elem_index, $publication := $publications.paper }}
		<li>
		{{ if $publication.link }}
		<a href="{{ $publication.link }}" class="publications"> {{ $publication.name }}, </a>
		{{ else }}
		<p class="publications">{{ $publication.name }},</p>
		{{ end }}
		{{ $publication.dest | markdownify }},
	
		{{ if or ($publication.code_link) $publication.blog_link }}
		<span class="code_blog">
			{{ with $publication.code_link }}
			[<a href="{{ $publication.code_link }}">code</a>]
			{{ end }}
	
			{{ with $publication.blog_link }}
			[<a href="{{ $publication.blog_link }}">slide</a>]
			{{ end }}
		</span>
		{{ end }}
	
		<span class="collaborators">
			{{ $publication.authors | markdownify }}
		</span>
		</li>
		{{ end }}
	</ul>
	{{- end -}}

	<h4>International Conference</h4>
	{{- range $index, $publications := .Site.Params.international_conference -}}
	<div class="year">{{ $publications.year }}</div>
	<ul>
		{{ range $elem_index, $publication := $publications.paper }}
		<li>
		{{ if $publication.link }}
		<a href="{{ $publication.link }}" class="publications"> {{ $publication.name }}, </a>
		{{ else }}
		<p class="publications">{{ $publication.name }},</p>
		{{ end }}
		{{ $publication.dest | markdownify }},
	
		{{ if or ($publication.code_link) $publication.blog_link }}
		<span class="code_blog">
			{{ with $publication.code_link }}
			[<a href="{{ $publication.code_link }}">code</a>]
			{{ end }}
	
			{{ with $publication.blog_link }}
			[<a href="{{ $publication.blog_link }}">slide</a>]
			{{ end }}
		</span>
		{{ end }}
	
		<span class="collaborators">
			{{ $publication.authors | markdownify }}
		</span>
		</li>
		{{ end }}
	</ul>
	{{- end -}}

	<!-- Preprint -->
	<h4>Preprint</h4>
	{{- range $index, $publications := .Site.Params.preprint -}}
	<div class="year">{{ $publications.year }}</div>
	<ul>
		{{ range $elem_index, $publication := $publications.paper }}
		<li>
		{{ if $publication.link }}
		<a href="{{ $publication.link }}" class="publications"> {{ $publication.name }}, </a>
		{{ else }}
		<p class="publications">{{ $publication.name }},</p>
		{{ end }}
		{{ $publication.dest | markdownify }},
	
		{{ if or ($publication.code_link) $publication.blog_link }}
		<span class="code_blog">
			{{ with $publication.code_link }}
			[<a href="{{ $publication.code_link }}">code</a>]
			{{ end }}
	
			{{ with $publication.blog_link }}
			[<a href="{{ $publication.blog_link }}">slide</a>]
			{{ end }}
		</span>
		{{ end }}
	
		<span class="collaborators">
			{{ $publication.authors | markdownify }}
		</span>
		</li>
		{{ end }}
	</ul>
	{{- end -}}	

	<!-- Domestic confernece -->
	<h4>Domestic Journal and Conference (Japanese)</h4>
	<details>
		<summary>Please click here</summary>
		{{- range $index, $publications := .Site.Params.domestic_conference -}}
		<div class="year">{{ $publications.year }}</div>
		<ul>
			{{ range $elem_index, $publication := $publications.paper }}
			<li>
			{{ if $publication.link }}
			<a href="{{ $publication.link }}" class="publications"> {{ $publication.name }}, </a>
			{{ else }}
			<p class="publications">{{ $publication.name }},</p>
			{{ end }}
			{{ $publication.dest | markdownify }}.
		
			{{ if or ($publication.code_link) $publication.blog_link }}
			<span class="code_blog">
				{{ with $publication.code_link }}
				[<a href="{{ $publication.code_link }}">code</a>]
				{{ end }}
		
				{{ with $publication.blog_link }}
				[<a href="{{ $publication.blog_link }}">blog</a>]
				{{ end }}
			</span>
			{{ end }}
		
			<span class="collaborators">
				{{ $publication.authors | markdownify }}
			</span>
			</li>
			{{ end }}
		</ul>
		{{- end -}}
	</details>
</div>