<div class="talk">
	<h3>News and Invited Talk</h3>
	{{- range $index, $talk := .Site.Params.talk -}}
	<ul>
		{{ range $elem_index, $content := $talk.content }}
		<li>
		{{ if $content.link }}
		<a href="{{ $content.link }}" class="content"> {{ $content.name }}, </a>
		{{ else }}
		<p class="content">{{ $content.name }}</p>
		{{ end }}
		{{ $content.dest | markdownify }}
	
		{{ if or ($content.code_link) $content.blog_link }}
		<span class="code_blog">
			{{ with $content.code_link }}
			[<a href="{{ $content.code_link }}">code</a>]
			{{ end }}
	
			{{ with $content.blog_link }}
			[<a href="{{ $content.blog_link }}">slide</a>]
			{{ end }}
		</span>
		{{ end }}
	
		<span class="collaborators">
			{{ $content.authors | markdownify }}
		</span>
		</li>
		{{ end }}
	</ul>
	{{- end -}}
</div>
<h3>Academic Activities</h3>
<b>Journal reviewer</b>: IEEE Trans. Multimedia, Advanced Robotics
<br>
<b>Conference reviewer</b>: LREC2022
<br>
<br>